@model Book

<div class="card card-outline-primary m-1 p-1 card bg-light mb-3">
    <br />
    <h4>
        @Model.Title
    </h4>
    <div class="text-muted">
        <p>Author: @Model.AuthorFirstName @Model.AuthorMiddleName @Model.AuthorLastName</p>
        <p>Publisher: @Model.Publisher</p>
        <p>ISBN: @Model.ISBN</p>
        <p>Page Count: @Model.NumPages</p>
        <p>Price: $@Model.Price</p>
        <p>Category: @Model.Category</p>
        <span class="badge badge-pill badge-info" style="float:right">
            <p>@Model.Classification</p>
        </span>
    </div>
    <br />
</div>